@tailwind base;
@tailwind components;
@tailwind utilities;


/* Delay util for pulse animation */
.animation-delay-2000 {
    animation-delay: 2s;
}
.animation-delay-4000 {
    animation-delay: 4s;
}

